<!-- Inside Hero Section -->
<section class="page-image page-image-admin md-padding">
    <h1 class="text-white text-center">ADMIN INDEX</h1>
</section>

<!-- Admin Panel Section -->
<section id="aboutUs" class="md-padding">
    <div class="container">
        {{> admin-nav}}
    </div>
</section>

<!-- Our Team Section -->
<section id="team" class="md-padding">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4 offset-md-4">
                <div class="section-header">
                    <h2 class="title">Welcome to Admin Panel</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="team-member">
                    <img src="img/member1.jpg" class="mx-auto rounded-circle">
                    <h4>Jane Doe</h4>
                    <p class="text-muted">Lead Designer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <img src="img/member2.jpg" class="mx-auto rounded-circle">
                    <h4>Susan Doe</h4>
                    <p class="text-muted">Web Designer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member">
                    <img src="img/member3.jpg" class="mx-auto rounded-circle">
                    <h4>Lexy Doe</h4>
                    <p class="text-muted">Graphic Designer</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>