<ul class="navbar-nav text-uppercase ml-auto admin-nav">
    <li class="nav-item admin-nav-item"><a href="/admin" class="nav-link">Admin Index</a></li>
    <li class="nav-item admin-nav-item"><a href="/admin/categories" class="nav-link">Categories</a></li>
    <li class="nav-item admin-nav-item"><a href="/admin/posts" class="nav-link">Posts</a></li>
</ul>